@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #272343;    ;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.7em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.main-nav li {
    max-width: 30%;
    min-width: 200px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: #272343;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    
}

.band-name {
    text-align: center;
    margin: 3;
    font-weight: bold;
    color: white;
}

.band-name-large {
    font-size: 58px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.containercart{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1.5em;
    display: flex;
    justify-content: space-around;
    
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    margin: 50px;
    width: 319px;
    height: 319px;
    border-radius: 15%;

}

.main-footer {
    background-color: #BAE8E8;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
    text-align: center;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #272343;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #272343;
    opacity: 0.95;
    min-width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.75em;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 95%; 
}
.tooltiptext h1,h2,h3,h4,h5,h6 {
    color: white;
}
.tooltip p,b{
    color: white;
    text-align: left;
    margin: 0;
}
.tooltip hr{
    margin-bottom: 1.3em;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.store{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.listitem{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2em;
    height: auto;
    padding:1.20em;
    background-color:white;
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 2em;
}
.listitem2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2em;
    height: auto;
    padding:1.20em;
    background-color:white;
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 2em;
    height:80%;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.albumname{
    flex-basis:20em;
}

.item span{
    flex-basis: 2rem;
}
.item img{
    width:15%;
    max-width: 5em;
    height:auto;
}

.left{
    display: flex;
    flex-direction: column;
    flex:2 1;
    padding:1.5em;
    min-width: 280px;
}
.right{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding:1.5em;
}
.item h4{
    color: black;
}

.cart{
    width: 5em;
    height: 5em;
    background-color:#272343;
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.cart img{
    height: 2.75em;
    width: auto;
}
.carts{
    padding: 1em;
    max-width:500px;
    min-width: 300px;
    width: 50%;
    height:auto;
    min-height:200px;
    background-color:white;
    box-shadow: 0 0 10px 4px #565656;
    position: fixed;
    bottom: 8em;
    right: 2em;
    opacity: 0.85;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.carts button{
    color: green;
    background-color:white;
    min-height:30px;
    border:1px solid green;
    border-radius: 25px;
}
.cart-list-data{
    padding: 1em;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 10px;
}

.delivery{
    position: fixed;
    background-color:white;
    padding: 2em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius:25px;
}

.delivery button{
    display: block;
    margin: auto;
    min-height: 30px;
    width: 50%;
}

.containertracker{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1.5em;
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

.searchbar{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color:white;
    padding: 1.25em;
    border-radius:5em;
    width: 80%;
    box-shadow: 0 0 20px 8px #d0d0d0;
}
.searchbar input{
    border: 0;
    border-bottom: 2px solid lightgrey;
    width: 94%;
    height:2em;
}
.searchbar button{
    width: fit-content;
    height: 2em;
    border: 0;
    background-color:white;
    cursor: pointer;
}